<!-- Please remove this file from your project -->
<template>
  <div class="relative flex items-top justify-center min-h-screen bg-gray-100 sm:items-center sm:pt-0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
      <div class="mt-8 bg-white overflow-hidden shadow sm:rounded-lg p-6">
        <div class="flex p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"
          role="alert" :hidden="showku">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Sukses Kirim!</span> Akan Hilang dalam 3 detik
          </div>
        </div>
        <h2 class="text-2xl leading-7 font-semibold">
          <a href="/">NGLKU</a>
        </h2>
        <p class="mt-3 text-gray-600">
          nglku adalah aplikasi yang dapat mengirim pesan rahasia keorang yang anda inginkan
        </p>
        <div :hidden="kirim">
          <p class="mt-4 pt-4 text-gray-800 border-t border-dashed">
            <label for="website-admin"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
          <div class="flex">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              @
            </span>
            <input type="text" id="disabled-input-2" aria-label="disabled input 2"
              class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              :value="igs" disabled readonly>
          </div>
          </p>
          <p class="mt-4 pt-4 text-gray-800 border-t border-dashed">
          <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Kirim Pesan rahasia Untuk {{ igs }}</h2>

          <textarea id="message" v-model="pesan" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Leave a comment..."></textarea>
          </p>
          <p class="mt-4 pt-4 text-gray-800 border-t border-dashed">
          <div class="grid grid-flow-row auto-rows-max">
            <button @click="$fetch" type="button"
              class="my-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Kirim</button>
          </div>
          </p>
        </div>
        <div class="grid grid-flow-row auto-rows-max" :hidden="buatngl">
          <button @click="goto()" type="button"
            class="my-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Buat
            NGLMu Juga?</button>
        </div>
      </div>
      <div class="flex justify-center pt-4 space-x-2">
        <a href="https://github.com/nabils24" target="_blank"><svg
            class="w-6 h-6 text-gray-600 hover:text-gray-800 button--github" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="32" height="32"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path
              d="M12 2.247a10 10 0 0 0-3.162 19.487c.5.088.687-.212.687-.475c0-.237-.012-1.025-.012-1.862c-2.513.462-3.163-.613-3.363-1.175a3.636 3.636 0 0 0-1.025-1.413c-.35-.187-.85-.65-.013-.662a2.001 2.001 0 0 1 1.538 1.025a2.137 2.137 0 0 0 2.912.825a2.104 2.104 0 0 1 .638-1.338c-2.225-.25-4.55-1.112-4.55-4.937a3.892 3.892 0 0 1 1.025-2.688a3.594 3.594 0 0 1 .1-2.65s.837-.262 2.75 1.025a9.427 9.427 0 0 1 5 0c1.912-1.3 2.75-1.025 2.75-1.025a3.593 3.593 0 0 1 .1 2.65a3.869 3.869 0 0 1 1.025 2.688c0 3.837-2.338 4.687-4.563 4.937a2.368 2.368 0 0 1 .675 1.85c0 1.338-.012 2.413-.012 2.75c0 .263.187.575.687.475A10.005 10.005 0 0 0 12 2.247z"
              fill="currentColor" />
          </svg></a>
        <a href="/changelogs" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </div>
      <div class="flex justify-center pt-4 space-x-2">
        <a href="https://github.com/nabils24" target="_blank">Made With ❤ By Nabils24</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'kirimpesan',
  // get params ig and return data
  data() {
    return {
      showku: true,
      kirim: false,
      buatngl: true,
      apikey: 'tes123',
      igs: this.$route.query.ig,
      pesan: '',
      err: '',
      hasil: [],

      // URL API
      url: 'https://contribution-stylish-kelkoo-sim.trycloudflare.com/'
    }
  },
  methods: {
    showalert(time) {
      this.showku = false
      setTimeout(() => {
        this.showku = true
      }, time)
    },
    goto() {
      this.$router.push('/')
    },
    $fetch() {
      fetch(this.url+`nglku/pesan/buatpesan?` + '&to=' + this.igs + '&pesan=' + this.pesan)
        .then(res => res.json())
        .then(json => {
          if (json.code == 200) {
            this.showalert(3000)
            this.kirim = true
            this.buatngl = false
          } else {
            this.err = 'ERROR'
          }
        })
    },

  },

}
</script>
