<!-- Please remove this file from your project -->
<template>
  <div class="relative flex items-top justify-center min-h-screen bg-gray-100 sm:items-center sm:pt-0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
      <div class="mt-8 bg-white overflow-hidden shadow sm:rounded-lg p-6">
        <h2 class="text-2xl leading-7 font-semibold">
          NGLKU
        </h2>
        <p class="mt-3 text-gray-600">
          nglku atau not gonna lie adalah aplikasi yang dapat mengirim pesan rahasia
        </p>
        <div :hidden="cekotp">
          <p class="mt-4 pt-4 text-gray-800 border-t border-dashed">
            <label for="website-admin"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
          <div class="flex">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              @
            </span>
            <input type="text" v-model="igs" :disabled="ok"
              class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Intagram Username">

          </div>
          <a href="">{{ err }}</a>
          </p>
          <div class="md:container md:mx-auto">
            <button type="button" @click="createduser()" :disabled="ok"
              class="mt-3 w-100 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Oke?</button>
          </div>
        </div>
      </div>

      <div class="flex justify-center pt-4 space-x-2">
        <a href="https://github.com/nabils24" target="_blank"><svg
            class="w-6 h-6 text-gray-600 hover:text-gray-800 button--github" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="32" height="32"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path
              d="M12 2.247a10 10 0 0 0-3.162 19.487c.5.088.687-.212.687-.475c0-.237-.012-1.025-.012-1.862c-2.513.462-3.163-.613-3.363-1.175a3.636 3.636 0 0 0-1.025-1.413c-.35-.187-.85-.65-.013-.662a2.001 2.001 0 0 1 1.538 1.025a2.137 2.137 0 0 0 2.912.825a2.104 2.104 0 0 1 .638-1.338c-2.225-.25-4.55-1.112-4.55-4.937a3.892 3.892 0 0 1 1.025-2.688a3.594 3.594 0 0 1 .1-2.65s.837-.262 2.75 1.025a9.427 9.427 0 0 1 5 0c1.912-1.3 2.75-1.025 2.75-1.025a3.593 3.593 0 0 1 .1 2.65a3.869 3.869 0 0 1 1.025 2.688c0 3.837-2.338 4.687-4.563 4.937a2.368 2.368 0 0 1 .675 1.85c0 1.338-.012 2.413-.012 2.75c0 .263.187.575.687.475A10.005 10.005 0 0 0 12 2.247z"
              fill="currentColor" />
          </svg></a>
        <a href="/changelogs" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </div>
      <div class="flex justify-center pt-4 space-x-2">
        <a href="https://github.com/nabils24" target="_blank">Made With ❤ By Nabils24</a>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'signin',
  data() {
    return {
      cekotp: false,
      kirimotp: true,
      apikey: 'tes123',
      igs: '',
      err: '',
      otpku: '',
      otp: [],
      ok: false,

      // URL API
      url: 'https://contribution-stylish-kelkoo-sim.trycloudflare.com/'
    }

  },
  methods: {
    cekapi() {
      this.$axios.$get(this.url)
        .then(res => {
          if (res.status == 200) {
            this.ok = false
          } else {
            this.ok = true
            this.err = "Rest Api Error, Mungkin Server Sedang Maintenance"
          }
        })
        .catch(err => {
          this.ok = true
          this.err = "Rest Api Error, Mungkin Server Sedang Maintenance"
        })
    },  
    createduser() {
      fetch(this.url + `nglku/user/register?` + '&ig=' + this.igs)
        .then(res => res.json())
        .then(json => {
          if (json.code == 200) {
            // this.$router.push('/lihatpesan?ig=' + this.igs)
            this.$router.push('/lihatpesan?ig=' + this.igs)
          } else {
            this.err = json.message
          }
        })
    }
  },
  created: function () {
    this.cekapi()
  }

}
</script>
